
<table class="table table-bordered table-hover">
  <thead class="thead-inverse">
  <tr>
    <th>parameter</th>
    <th>content</th>
  </tr>
  </thead>
  <tbody>

  <tr>
    <td>Logged in user key</td>
    <td>{{loggedInUserData.key}}</td>
  </tr>

  <tr>
    <td>Logged in user name (email)</td>
    <td>{{loggedInUserData.name}}</td>
  </tr>

  <tr>
    <td>Logged in user role</td>
    <td>todo</td>
  </tr>

  <tr>
    <td>Patient</td>
    <td>{{currentPatientName}}</td>
  </tr>

  <tr>
    <td>Patient Key</td>
    <td>{{currentPatientKey}}</td>
  </tr>

  </tbody>
</table>
