
<div class="cust-wrap-cards">
  <div class="card cust-head-card cust-card-event">

    <div class="card-header cust-head-card-header">Event {{diseaseEvent.name}}</div>

    <div class="card-block text-center">
      <!-- Inhalt -->
    </div>

    <div class="card-block cust-flex-btn cust-block-card-padding">
      <button type="button" class="btn btn-secondary cust-btn-all-open cust-flex-btn-child" [routerLink]="['diseaseEvents/' + diseaseEvent.$key + '/edit']">Edit</button>
    </div>

  </div>
</div>
