<div class="row">
    <!--
    <div class="col-md-6">
      <user-items-list></user-items-list>
    </div>
    -->
    <div class="col-md-12">
        <router-outlet></router-outlet>
    </div>
</div>


<!--
<ul>
	<li *ngFor="let user of allUsers | async">
		User: {{ user.name }} ({{user.$key}})
    <ul>
			<li *ngFor="let patient of user.patients | async">
				{{ patient.name }} ({{patient.$key}})
			</li>
		</ul>
	</li>
</ul>
-->

<!--
<ul>
  <li *ngFor="let user of allUsers | async">
    <p>{{user.name}} ({{user.$key}})</p>
      <table class="table">
        <tr *ngFor="let patient of user.patients | async">
          <td>{{patient.name}}</td>
          <td>{{patient.$key}}</td>
        </tr>
      </table>
  </li>
</ul>
-->
