<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" [routerLink]="['/']">Disease Diary</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li><a [routerLink]="['test']">Test</a></li>
            <li *ngIf="af.auth | async" class="dropdown" diseaseDiaryDropdown>
              <a class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Admin<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a [routerLink]="['user']">User</a></li>
                <li><a [routerLink]="['patient']">Patient</a></li>
                <li><a [routerLink]="['case']">Case</a></li>
                <li><a [routerLink]="['event']">Event</a></li>
              </ul>
            </li>
		        <li *ngIf="af.auth | async"><a [routerLink]="['allUsers']">All Users</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown" diseaseDiaryDropdown>
            <a class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">My Diary<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a [routerLink]="['register']">Register</a></li>
              <li><a [routerLink]="['login']">Login</a></li>
              <li *ngIf="af.auth | async" role="separator" class="divider"></li>
              <li *ngIf="af.auth | async"><a (click)="onLogout()" style="cursor: pointer;">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div><!-- /.container-fluid -->
</nav>
