<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" [routerLink]="['/']">Disease Diary</a>
      </div>
      <div class="navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li routerLinkActive="active"><a [routerLink]="['test']">Test</a></li>
            <li routerLinkActive="active" *ngIf="af.auth | async" class="dropdown" diseaseDiaryDropdown>
              <a class="dropdown-toggle" data-toggle="dropdown">Admin<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a [routerLink]="['user']">User</a></li>
                <li><a [routerLink]="['patient']">Patient -test</a></li>
                <li><a [routerLink]="['case']">Case -test</a></li>
                <li><a [routerLink]="['event']">Event -test</a></li>
              </ul>
            </li>
		        <li routerLinkActive="active" *ngIf="af.auth | async"><a [routerLink]="['allUsers']">All Users (Admin)</a></li>
				<li routerLinkActive="active" *ngIf="af.auth | async"><a [routerLink]="['allPatients']">All Patients</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li routerLinkActive="active" class="dropdown" diseaseDiaryDropdown>
            <a class="dropdown-toggle" data-toggle="dropdown">My Diary<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a [routerLink]="['register']">Register</a></li>
              <li><a [routerLink]="['login']">Login</a></li>
              <li *ngIf="af.auth | async" role="separator" class="divider"></li>
              <li *ngIf="af.auth | async"><a (click)="onLogout()" style="cursor: pointer;">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div><!-- /.container-fluid -->
</nav>
