
<!--div class="card-deck-wrapper"-->
  <!--div *ngFor="let user of allUsers | async" class="card-deck"-->

<div class="container-fluid cust-container-header">
  <p>{{allUsersCount}} Users</p>
</div>
<div *ngFor="let user of allUsers | async" class="card-deck-wrapper">
  <div class="container-fluid">
      <div class="row flex-items-xs-center">
        <div user-row [user]="user"></div>
      </div>
      <div class="row flex-items-xs-center">
        <div user-patient *ngFor="let patient of user.patients | async" [user]="user" [patient]="patient" class="card-group"></div>
      </div>
  </div>
</div>





<!--/div-->



<!--
<div class="table-responsive">
  <table class="table">
    <caption>Users and their patients</caption>
    <tbody *ngFor="let user of allUsers | async" class="table">
-->
    <!-- <tr><td><th scope="rowgroup>">{{user.name}} ({{user.$key}})<td><td> -->
    <!-- <tr class="table-success" ><td>{{user.name}}<td>({{user.$key}})<td>. -->
    <!--<tr class="success"><td>Patients of</td><td>{{user.name}}</td><td>{{user.$key}}</td><td><button class="btn btn-success" (click)="onNew($user)">New</button></td></tr>-->
<!--
<tr class="success" user-row [user]="user"></tr>
-->

    <!-- Tag wird in Angular2 nicht mehr ersetzt, deshalb Attribut verwenden -->
<!--
    <tr user-patient *ngFor="let patient of user.patients | async" [user]="user" [patient]="patient"></tr>
-->
      <!-- <user-item *ngFor="let patient of user.patients | async" [user]="user" [patient]="patient"></user-item> -->

      <!--/table-->
<!--
    </tbody>
  </table>
</div>
-->


<!--div class="col-xs-12">
  <a class="btn btn-success" [routerLink]="['new']">New User</a>
</div-->
<!--
<div class="col-xs-12">
  <ul>
    <li *ngFor="let user of allUsers | async">
      <p>{{user.name}} ({{user.$key}})</p>
      <!-- Table in user-item - Template verlegen -->
      <!--table class="table" border="1px"-->
<!--
        <user-item *ngFor="let patient of user.patients | async" [user]="user" [patient]="patient"></user-item>
-->
      <!--/table-->
<!--
    </li>
  </ul>
</div>
-->



  <!-- ngFor Iteration funktioniert nur mit "echten" Arrays ?!?
  <template ngFor let-user [ngForOf]="allUsers" let-userIndex="index">
    <template ngFor let-patient [ngForOf]="user.patients" let-patientIndex="index">
      <tr>
        <td>{{patient.name}}</td>
      </tr>
    </template>
  </template>
  -->


