

<div class="card list-card-width">
  <div class="card-header">Patient {{patient.name}}</div>
  <div class="card-block">
    <p class="card-text">{{patient.$key}}</p>
    <button class="btn btn-success" (click)="onEdit()">Edit Patient</button>
  </div>
</div>

<!--
<td>&nbsp;</td><td>{{patient.name}}</td><td>{{patient.$key}}</td><td><button class="btn btn-primary" (click)="onEdit()">Edit</button></td>
-->

<!-- <td>{{user.name}}</td><td>{{patient.name}}</td><td>{{patient.$key}}</td><td><button class="btn btn-primary" (click)="onEdit()">Edit</button></td> -->

<!--
<table class="table" border="1px">
<tr>
  <td>{{patient.name}}</td>
  <td>{{patient.$key}}</td>
  <td><button class="btn btn-primary" (click)="onEdit()">Edit</button></td>
</tr>
</table>
-->

