<!--div class="col-xs-12">
  <a class="btn btn-success" [routerLink]="['new']">New User</a>
</div-->
<div class="col-xs-12">

  <!-- ngFor Iteration funktioniert nur mit "echten" Arrays ?!?
  <template ngFor let-user [ngForOf]="allUsers" let-userIndex="index">
    <template ngFor let-patient [ngForOf]="user.patients" let-patientIndex="index">
      <tr>
        <td>{{patient.name}}</td>
      </tr>
    </template>
  </template>
  -->

  <ul>
    <li *ngFor="let user of allUsers | async">
      <p>{{user.name}} ({{user.$key}})</p>
      <!-- Table in user-item - Template verlegen -->
      <!--table class="table" border="1px"-->

        <user-item *ngFor="let patient of user.patients | async" [user]="user" [patient]="patient"></user-item>

      <!--/table-->
    </li>
  </ul>


</div>
