
/*   die Einträge in der index.html sind aktueller !!! */

body {
  margin-top: 50px;
}
#navpadding {
  padding-right: 20px;
}

.dropdown-menu[data-placement="left"] {
  left: auto;
  right: 0px;
}

.navbar .nav>li>.dropdown-menu[data-placement="left"]:before {
  left: auto;
  right: 9px;
}

.navbar .nav>li>.dropdown-menu[data-placement="left"]:after {
  left: auto;
  right: 10px;
}



.navbar-brand {
  float: none;
}
.navbar-nav .nav-item {
  float: none;
}
.navbar-divider,
.navbar-nav .nav-item + .nav-item,
.navbar-nav .nav-link + .nav-link {
  margin-left: 0;
}
@media (min-width: 34em) {
  .navbar-brand {
    float: left;
  }
  .navbar-nav .nav-item {
    float: left;
  }
  .navbar-divider,
  .navbar-nav .nav-item + .nav-item,
  .navbar-nav .nav-link + .nav-link {
    margin-left: 1rem;
  }
}


.list-card-width {
  width: 100%;
  min-width: 200px;
  max-width: 200px;
  min-height: 200px;
  max-height: 200px;
  margin: 0 auto 10px;
}
.header-card-width {
  width: 100%;
  min-width: 200px;
  max-width: 200px;
  min-height: 200px;
  max-height: 200px;
  margin: 0 auto 10px;
}


#loggedInName {
  color: red;
}
