
<div class="cust-wrap-cards">
    <div class="card cust-list-card cust-card-event">

      <div class="card-header cust-head-card-header">Case {{diseaseCase.name}}</div>
      <div class="card-block text-center">
        <!-- Inhalt -->
      </div>

      <div class="card-block cust-flex-btn cust-block-card-padding">
        <button type="button" class="btn btn-secondary cust-btn-new  cust-flex-btn-child" data-toggle="modal" [routerLink]="['diseaseCases/' + diseaseCase.$key + '/edit']">Edit</button>

        <!-- # 1 -->
        <!--button type="button" class="btn btn-secondary cust-btn-all-open cust-flex-btn-child" [routerLink]="['diseaseCases/' + diseaseCase.$key]">Open all</button-->

        <!-- # 2 -->
        <button type="button" class="btn btn-secondary cust-btn-all-open cust-flex-btn-child" [routerLink]="['/patients/' + patientKey + '/diseaseCases/' + diseaseCase.$key]">Open</button>
      </div>

    </div>
</div>

