
<div class="container-fluid cust-container-header">
  <p>{{patientsCount}} Patients of: {{currentUserName}}</p>
</div>
<div *ngFor="let patient of allPatients | async" class="card-deck-wrapper">
  <div class="container-fluid">
    <div class="row flex-items-xs-center">
      <div patient-row [patient]="patient"></div>
    </div>
    <hr>
    <div class="row flex-items-xs-center">
      <div patient-diseaseCase *ngFor="let diseaseCase of patient.cases | async" [patient]="patient" [diseaseCase]="diseaseCase" class="card-group"></div>
    </div>
    <hr>
  </div>
</div>



<!--
<div class="table-responsive">
  <p *ngIf="counterPatients < 1">no patients found</p>
  <p>User: {{userName}} / Patients and their cases</p>

  <table class="table table-bordered">
    <tbody *ngFor="let patient of allPatients | async" class="table">

      <tr class="table-success" patient-row [patient]="patient"></tr>

      <tr patient-item *ngFor="let case of patient.cases | async" [patient]="patient" [case]="case"></tr>

    </tbody>
  </table>
</div>
-->



<!--
<div>
  <h2>Patients of User: {{(actUser | async)?.$key}}</h2>
  <ul>
    <li *ngFor="let patient of allPatients | async">
      <p>{{patient.name}} ({{patient.$key}})</p>
      <table class="table">
        <tr *ngFor="let case of patient.cases | async">
          <td>{{case.name}}</td>
          <td>{{case.$key}}</td>
        </tr>
      </table>
    </li>
  </ul>
</div>
-->



<!-- with allPatientsRow.component.. but patient-row was'nt replaced

<table>
  <patient-row *ngFor = "let patient of allPatients | async" [patient]="patient"></patient-row>

</table>
-->



<!--
<ul>
	<li *ngFor="let patient of allPatients | async">
		Patient: {{ patient.name }} ({{patient.$key}})
    <ul>
			<li *ngFor="let case of patient.cases | async">
				{{ case.name }} ({{case.$key}})
			</li>
		</ul>
	</li>
</ul>
-->



<!-- template funktioniert hier nicht
<table>
  <template ngFor patient="$implicit" [ngForOf]="allPatients">
    <tr>
      <td>
        <h2>{{patient.name}}</h2>
      </td>
    </tr>
    <tr *ngFor="let case of patient.cases">
      <td>{{case.name}}</td>
    </tr>
  </template>
</table>
-->



