
<table class="table table-bordered table-hover">
  <thead class="thead-inverse">
    <tr>
      <th>user id</th>
      <th>user role</th>
      <th>update user</th>
      <th>delete user</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users | async">
      <!--td><input type="text" #updateName [value]="user.name" /></td-->
      <td>{{user.name}}</td>
      <td><input type="text" #updateRole [value]="user.role" /></td>
      <!--td><button (click)="updateUser(user.$key, updateName.value, updateRole.value)">Update</button></td-->
      <td><button (click)="updateUser(user.$key, updateRole.value)">Update</button></td>
      <td><button (click)="deleteUser(user.$key)">Delete</button></td>
      <!--
      <td><label>Key: {{user.$key}}</label></td>
      -->
    </tr>
  </tbody>
</table>




<!--
<input type="text" #newName />
<input type="text" #newRole />
<button (click)="addUser(newName.value, newRole.value)">Add</button>
<button (click)="deleteUserAll()">Delete All</button>
-->


<!--
<ul>
  <li *ngFor="let user of users |  async">
    {{ user.name }}
  </li>
</ul>
-->
<!--
<ul>
  <li *ngFor="let user of users | async">
      <input type="text" #updatetext [value]="user.name" />
      <button (click)="updateUser(user.$key, updatetext.value)">Update</button>
      <button (click)="deleteUser(user.$key)">Delete</button>
      <label>Key: {{user.$key}}</label>
  </li>
</ul>
-->




