
<table class="table table-bordered table-hover">
  <thead class="thead-inverse">
    <tr>
      <th>user id</th>
      <th>user role</th>
      <th>update</th>
      <th>delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users | async">
      <td>{{user.name}}</td>
      <td><input type="text" #updateRole [value]="user.role" /></td>
      <td><button class="cust-table-btn-update" (click)="updateUser(user.$key, updateRole.value)">Update</button></td>
      <td><button class="cust-table-btn-delete" data-toggle="modal" [attr.data-target]="'#' + user.$key">Delete</button></td>

      <!-- modal dialog for editing user -->

      <div class="modal fade" [attr.id]="'' + user.$key" tabindex="-1" role="dialog" aria-labelledby="editUserModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header cust-table-modal-header-danger">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title" id="editUserModalLabel">Delete: {{user.name}}</h4>
            </div>
            <div class="modal-body">
              <p>Are you sure to delete this user?</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary cust-btn-cancel" data-dismiss="modal">Cancel</button>
              <button type="button" class="btn cust-table-btn-delete" (click)="deleteUser(user.$key)" data-dismiss="modal">Delete</button>
            </div>
          </div>
        </div>
      </div>


    </tr>
  </tbody>
</table>




<!--
<input type="text" #newName />
<input type="text" #newRole />
<button (click)="addUser(newName.value, newRole.value)">Add</button>
<button (click)="deleteUserAll()">Delete All</button>
-->


<!--
<ul>
  <li *ngFor="let user of users |  async">
    {{ user.name }}
  </li>
</ul>
-->
<!--
<ul>
  <li *ngFor="let user of users | async">
      <input type="text" #updatetext [value]="user.name" />
      <button (click)="updateUser(user.$key, updatetext.value)">Update</button>
      <button (click)="deleteUser(user.$key)">Delete</button>
      <label>Key: {{user.$key}}</label>
  </li>
</ul>
-->




